
myenv/

# .vscode/
# *.log
# *.temp
# node_modules/

Iodosulfuron/

# # Ignore entire virtual environment directory
# myenv/

# Alternatively, ignore specific large files
myenv/Lib/site-packages/torch/lib/torch_cpu.dll
myenv/Lib/site-packages/torch/lib/dnnl.lib


Iodosulfuron/AIR/RAR/Iodosulfuron_RAR_20_Volume_3CP_IMS+MPR_OD400_B-9_2015_04_25_san.pdf
Iodosulfuron/AIR/RAR/OCRIodosulfuron_RAR_20_Volume_3CP_IMS+MPR_OD400_B-9_2015_04_25_san.pdf
Iodosulfuron/AIR/RAR/Iodosulfuron_RAR_08_Volume_3CA_B-6_2015_04_25_san.pdf

